* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.wrapper {
    background-color: #f6f6f6;
    width: fit-content;
    padding: 20px;
}

label,
input {
    display: block;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: fit-content;
}

input {
    width: 315px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #cdcdcd;
}

form .section-one,
form .section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

textarea {
    height: 108px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    border-bottom: 1px solid #cdcdcd;
}

.section-one label::after {
    content: "*";
    position: absolute;
    margin-left: 5px;
    color: red;
}

::placeholder {
    color: #adadad;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 12px;
}

[type="submit"] {
    width: 100%;
    margin-top: 20px;
    background-color: #009688;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    /* padding: 10px; */
}

[type="submit"]:hover {
    filter: brightness(90%);
    transform: scale(1.01);
}

form {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px black;
}